@namespace TextileEditor.Web.Layout

<div id="@Id" style="width: 20px; height: 20px;" @onclick="@StateHasChanged">
    @if (runningTasks.Any())
    {
        <FluentProgressRing style="width: 20px; height: 20px;" Stroke="ProgressStroke.Small" />
    }
    else
    {
        <FluentIcon Value="@(new Icons.Regular.Size20.Checkmark())" />
    }
    <FluentTooltip Anchor="@Id" HideTooltipOnCursorLeave="false" UseTooltipService="false">
        <FluentStack Orientation="Orientation.Vertical">
            @foreach(var bTask in runningTasks)
            {
                <Progress Name="@bTask.RunningTask.BackgroundTask.Name" Description="@bTask.RunningTask.LatestProgress.Description" ProgressValue="@bTask.RunningTask.LatestProgress"  />
            }
        </FluentStack>
    </FluentTooltip>
</div>
